@import url(https://fonts.googleapis.com/css?family=Raleway:900,800,700,600,500,400);

body {
  font: 16px sans-serif;
  font-display: swap;
}
.talk-bar {
  fill: steelblue;
}
.talk-bar.hot {
  fill: red;
}
.talk-bar.warm {
  fill: orange;
}
.talk-bar.cold {
  fill: gray;
}

.y.axisRight text {
    fill: orange;
}
.y.axisLeft text {
    fill: steelblue;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar2 {
  fill: orange;
}
.x.axis path {
  display: none;
}

.talk-title {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  fill: black;
  text-transform: uppercase;
  font-weight: 800;
}

.talk-bar-caption {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  fill: #888;
  font-weight: 400;  
}