body {
  font: 10px sans-serif;
}
.bar {
  fill: steelblue;
}
.track-1 {
  fill: red;
}
.track-2 {
  fill: orange;
}
.track-3 {
  fill: yellow;
}
.track-4 {
  fill: steelblue;
}
.track-5 {
  fill: steelblue;
}
.track-6 {
  fill: steelblue;
}
.track-7 {
  fill: steelblue;
}
.track-8 {
  fill: steelblue;
}
.track-9 {
  fill: steelblue;
}
.track-a {
  fill: steelblue;
}
.track-b {
  fill: steelblue;
}
.track-c {
  fill: steelblue;
}



.y.axisRight text {
    fill: orange;
}
.y.axisLeft text {
    fill: steelblue;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar2 {
  fill: orange;
}
.x.axis path {
  display: none;
}